# FortiGate 設定
FORTIGATE_IP=
FORTIGATE_TOKEN=

#FortiGate_新建VIP區域設定
#選擇撈取的網段,這個設定
VIP_EXT_IP_PREFIX=
#選擇VIP群組的名稱(需要一模一樣)
VIP_GROUP_NAME=
# 建立的映射外部IP
VIP_PUBLIC_IP=
# 建立的VIP來源(wan1,port1,port2...)
FORTIGATE_INTERFACE=

# 郵件伺服器設定 (內部 SMTP)
MAIL_SERVER=
MAIL_PORT=
MAIL_SENDER=
MAIL_SENDER_NAME=

# Flask 設定
FLASK_SECRET_KEY=generate_a_random_string_here
DATABASE_URL=sqlite:///vip_requests.db




